<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
        <h1>취준생용 Job Description 생성기</h1>
    <!-- <p><img src="/static/images/job_/img.png" alt="직업설명"></p> -->

    <form id="jobForm" action="/generate" method="post">
        <label>직군</label>
        <input type="text" name="job_role" placeholder="예: 데이터 분석가" required>

        <label>숙련도</label>
        <input type="text" name="level" placeholder="예: 신입 / 주니어 / 시니어" required>

        <button type="submit" id="submitBtn">생성하기</button>
    </form>
    <!-- 로딩 애니메이션 -->
    <div id="loading" class="loading-container" style="display:none;">
        <div class="spinner"></div>
        <p>AI가 직무 설명을 생성 중입니다...</p>
    </div>
    <div>
        {{ result.job_role }} <br><br>
        {{ result.level }}<br><br>
        {{ result.core_skills }}<br><br>
        {{ result.tools }}<br><br>
        {{ result.soft_skills }}<br><br>
        {{ result.explain }}<br><br>
    </div>

</body>
</html>
<script src="/static/js/main.js"></script>